.jumbotron {
	background: no-repeat center right fixed url(../../images/back.jpg);
	background-size: 100%;
	background-size: cover;
	margin-bottom: 0px;
	padding: 0px;
	.overlay {
	  background-color: $color-seagreen;
	  position: absolute;
	  top: 0px;
	  bottom: 0px;
	  left: 0px;
	  right: 0px;
	  opacity: 0.75;
	  filter: alpha(opacity = 75);
	  z-index: 2;
	}
	.container {
	  position: relative;
	  top: 28%;
	  z-index: 4;
	  text-align: center;
	  > * {
		text-align: center;
		color: #FFFFFF;
	  }
	  h1 {
		padding-bottom: 20px;
		border-bottom: 1px solid #FFFFFF;
		border-bottom-color: rgba(255, 255, 255, 0.35);
		display: inline-block;
	  }
	  .lead {
		font-size: 28px;
	  }
	}
	.scroll-down {
	  height: 80px;
	  width: 110px;
	  display: block;
	  position: absolute;
	  bottom: 0px;
	  right: 5%;
	  background-color: #222222;
	  text-align: center;
	  z-index: 6;
	  .down-icon {
		color: #FFFFFF;
		font-size: 30px;
		padding-right: 2px;
		padding-top: 20px;
		animation-name: wiggle;
		animation-duration: 1.2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	  }
	  &:hover .down-icon {
		padding-top: 25px;
	  }
	}
  }

